<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989872496145-ai9nqt49er0b5570iq53bvs0k3r99tkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989872496145-ai9nqt49er0b5570iq53bvs0k3r99tkf</string>
	<key>API_KEY</key>
	<string>AIzaSyDhym29KDMGtQYE4RMn7iPGKkZy4dP9TT0</string>
	<key>GCM_SENDER_ID</key>
	<string>989872496145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProto</string>
	<key>PROJECT_ID</key>
	<string>new-project-tut</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-tut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989872496145:ios:2b504ed5b8a5f912521bb0</string>
</dict>
</plist>